@font-face {
  font-family: "BMJUA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

a:hover {
  color: orange;
}

#divPosition {
  position: absolute;
  margin: -150px 0px 0px -200px;
  top: 35%;
  left: 50%;
  padding: 5px;
}

* {
  padding: 0;
  margin: 0;
  border: none;
}
body {
  font-size: 14px;
  font-family: "BMJUA", sans-serif;
  text-align: center;
}

.login-wrapper {
  width: 400px;
  height: 350px;
  padding: 40px;
  box-sizing: border-box;
}

.login-wrapper > h2 {
  font-size: 24px;
  color: #0e0e0e;
  margin-bottom: 20px;
}

#login-form > input {
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  font-family: "BMJUA";
  background-color: #f8f8f8;
}

#login-form > input::placeholder {
  color: #d2d2d2;
}

#login-form > input[type="submit"] {
  color: #fff;
  font-size: 16px;
  background-color: #6a24fe;
  margin-top: 20px;
}

#login-form > input[type="checkbox"] {
  display: none;
}

#login-form > label {
  color: #999999;
}

#login-form input[type="checkbox"] + label {
  cursor: pointer;
  padding-left: 26px;
  background-image: url("checkbox.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#login-form input[type="checkbox"]:checked + label {
  background-image: url("checkbox-active.png");
  background-repeat: no-repeat;
  background-size: contain;
}



.buttons {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  font-family: "BMJUA";
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-2 {
  background-image: linear-gradient(
    to right,
    #f5ce62,
    #e43603,
    #fa7199,
    #e85a19
  );
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}




select::-ms-expand {
  display: none;
}

.select {
  font-family: "BMJUA";
}
